.beneficios-contacto{
	margin-top: 7rem;

	&__box-image:hover{
		&--image{
			transform: scale(1.2);
		}
	}

	form{
		input{
			padding: 2rem 1.5rem;
		}
		button[type="submit"]{
			font-size: $size-default;
			padding: .8rem 3rem;
			@media screen and (max-width: #{$vw-768}) {
				display: block;
				margin: 0 auto;
			}
		}
		.form-check{
			padding-left: 0;
			&-label{
				display: block;
			}
			&-inline{
				margin-top: 1rem;
			}
		}
	}

}