// colors
$color-red: #FF3333;
$color-red-dark: #ca2c2c;
$color-gris-textos: #4D4D4D;
$color-gris-claro: #F4F4F4;
$color-gris-oscuro: #333333;
$color-blanco: #fff;
$color-negro: #000;

// fonts
$size-default: 1.6rem;

// Breakpoints
$vw-768: 768px;
$vw-992: 992px;